<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Airday:</strong>
  <%= @show.airday %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @show.episodes %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @show.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Trailer url:</strong>
  <%= @show.trailer_url %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
